* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

body {
	font-family: $primary-font;
	color: $color1;
	transition: $transition;

	&.darkMode {
		background-color: $color5;
		color: #fff;
	}
}

.hidden {
	display: none;
}
