.topContainers {
	padding: 5%;
	padding-top: 30%;
	position: relative;
	text-align: center;
	@media screen and (min-width: 500px) {
		padding-top: 20%;
	}
}

.main_section {
	position: relative;
	.main_title {
		padding: 0 8% 5% 8%;
		font-size: 1.6em;
		font-weight: 700;
		@media screen and (min-width: $tablet) {
			font-size: 2em;
			max-width: 85%;
			margin: 0 auto;
		}
		@media screen and (min-width: $desktop) {
			font-size: 2.5em;
		}
		.main-decoration-text {
			color: $aqua;
		}
	}
	.searcher_bar {
		position: relative;
		.ilustra_header {
			max-width: 60%;
			@media screen and (min-width: $tablet) {
				width: 40%;
			}
		}
		.search_main_container {
			margin: 0 auto;
			top: -5px;
			padding: 10px;
			border: 1px solid $purple;
			border-radius: 20px;
			display: flex;
			justify-content: space-between;
			position: relative;
			z-index: 2;
			body.darkMode & {
				border: 1px solid #fff;
			}
			.searcher_button {
				width: 1.25rem;
				margin-left: 0.5rem;
			}
			.searcher_input {
				width: 100%;
				border: none;
				padding-left: 3%;
				background-color: none;
				font-family: $primary-font;
				font-size: 16px;
				color: $lightGray;
				outline: none;
				body.darkMode & {
					background-color: transparent;
				}
			}
			.searcher_icon {
				width: 1.25rem;
				margin-right: 0.5rem;
			}
			.searcher_close {
				margin-right: 2%;
			}
			@media screen and (min-width: $tablet) {
				width: 40%;
			}
			@media screen and (min-width: $desktop) {
				width: 50%;
			}
		}
	}
	.suggestions_container {
		border: 1px solid $purple;
		border-top-color: transparent;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		margin: 0 auto;
		width: 100%;
		body.darkMode & {
			border: 1px solid #fff;
		}
		.sugestion_list {
			width: 95%;
			margin: 0 auto 2% auto;
			color: $lightGray;
		}
		@media screen and (min-width: $tablet) {
			width: 40%;
		}
		@media screen and (min-width: $desktop) {
			width: 50%;
		}
	}
}

.trending_container {
	font-family: $secondary-font;
	font-size: 1.1em;
	font-weight: 500;
	padding: 7% 0 2% 0;
	.trending_text {
		padding-bottom: 2%;
		font-size: 1em;
	}
	.trending_list {
		font-weight: 400;
	}
	.trending_item {
		cursor: pointer;
		&:hover {
			font-weight: 600;
		}
		&::after {
			content: ',  ';
		}
		&:last-child::after {
			content: ' ';
		}
	}
}

.search_result {
	.search_line {
		margin: 2rem auto;
		width: 20%;
	}
	.sresult_title {
		margin-top: 4rem;
		margin-bottom: 4rem;
		font-family: $secondary-font;
		font-weight: 600;
		font-size: 1.8em;
		text-align: center;
	}
	.sresult_gallery {
		margin: 0 auto;
		width: 100%;
		display: flex;
		flex-flow: wrap;
		justify-content: space-evenly;
		align-items: center;
		@media screen and (min-width: $tablet) {
			flex-direction: row;
		}
	}
	.sresult_error {
		text-align: center;
		margin-bottom: 4rem;
		@media screen and (min-width: $tablet) {
			margin: 5rem;
		}
	}
	.error-search-text {
		font-family: $secondary-font;
		font-weight: 500;
		font-size: 1.2em;
		line-height: 3em;
		color: $aqua;
	}
}

.fav_container {
	padding-top: 30%;
	text-align: center;
	font-family: $secondary-font;
	font-weight: 500;
	@media screen and (min-width: $iphone) {
		padding-top: 20%;
	}
	@media screen and (min-width: $desktop) {
		padding-top: 15%;
	}
	@media screen and (min-width: $genericLaptop) {
		padding-top: 10%;
	}
	.title {
		margin-top: 0.5rem;
		margin-bottom: 2.8rem;
	}
	.image_empty {
		margin-top: 3rem;
		margin-bottom: 2rem;
	}
	.text_empty {
		padding: 1rem 0 1rem 0;
		color: $aqua;
		font-size: 16px;
	}
}

.creation_container {
	padding-top: 12%;
	position: relative;
	@media screen and (min-width: $desktop2) {
		padding-top: 10%;
	}
	@media screen and (min-width: $genericLaptop) {
		padding-top: 9%;
	}
	.button {
		display: block;
		width: fit-content;
		margin: 1rem auto;
		border: 1.8px solid $purple;
		border-radius: 2rem;
		padding: 1.2rem 1.3rem;
		text-decoration: none;
		font-family: $secondary-font;
		text-align: center;
		font-weight: 500;
		font-size: 13px;
		color: $purple;
		cursor: pointer;
		&:hover {
			background-color: $purple;
			color: #fff;
		}
		body.darkMode & {
			border: 2px solid #fff;
			color: #fff;
			&:hover {
				background-color: #fff;
				color: #37383c;
			}
		}
	}
	.creategif_container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		.createGif_camera {
			max-width: 25%;
			position: relative;
			.path {
				position: relative;
				top: -1rem;
			}
		}
		.crearGif_Pelicula {
			max-width: 25%;
			height: 20rem;
			padding-top: 18rem;
			padding-left: 1.5rem;
		}
		.recordingZone {
			padding: 2rem;
			width: 50%;
			height: 20rem;
			border: 1px solid $purple;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-content: center;
			text-align: center;
			align-items: center;
			position: relative;
			body.darkMode & {
				border: 1px solid #fff;
			}
		}
		.createGif_title {
			font-family: $secondary-font;
		}
		.createGif_text {
			padding-top: 10px;
			color: #000;
			body.darkMode & {
				color: #fff;
			}
		}
		.recording_video {
			min-width: 80%;
			min-height: 20rem;
			max-width: 80%;
			max-height: 20rem;
			z-index: 3000;
		}
		.recorded_video {
			width: 100%;
			z-index: 3000;
		}
		.overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: $purpleTransparency;
			color: #fff;
			z-index: 90;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			.overlay_status_container {
				display: flex;
				flex-direction: column;
				.overlay_status_icon {
					width: 155px;
					height: 24px;
					margin-right: 0px;
					border-top-width: 0px;
					margin-top: 0px;
					margin-left: 0px;
					margin-bottom: 0px;
				}
			}
		}
	}
	
	.pagination {
		margin: 0 auto;
		width: 75%;
		width: fit-content;
		justify-self: flex-end;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		text-align: center;
		.step {
			width: 2rem;
			height: 2rem;
			padding-top: 0.2em;
			margin: 1.5rem 0.5rem 1.5rem 0.5rem;
			border: 1px solid $purple;
			border-radius: 50%;
			font-size: 1.2em;
			body.darkMode & {
				border: 1px solid #fff;
			}
		}
		.step-active {
			background-color: $purple;
			color: #fff;
		}
	}
	#repeatShot {
		color: $purple;
		text-decoration: none;
		&:hover {
			border-bottom: 2px solid $aqua;
		}
		&:active {
			color: $lightGray;
			border-bottom: hidden;
		}
	}
	.timer {
		width: 25%;
		text-align: right;
		position: absolute;
		top: 79%;
		right: 24%;
		.timer__text {
			font-family: $secondary-font;
			font-size: 16px;
			line-height: 22px;
		}
	}
	.overlay__buttons {
		width: 6.8rem;
		padding: 2%;
		position: absolute;
		display: flex;
		justify-content: space-between;
		top: 0;
		right: 0;
		.btns {
			width: 2rem;
			height: 2rem;
			cursor: pointer;
		}
	}
	.corner {
		width: 1.7rem;
		height: 1.7rem;
		position: absolute;
	}
	.top--left {
		border-top: 1px solid $aqua;
		border-left: 1px solid $aqua;
		top: 1.25rem;
		left: 1.25rem;
	}
	.top--right {
		border-top: 1px solid $aqua;
		border-right: 1px solid $aqua;
		top: 1.25rem;
		right: 1.25rem;
	}
	.bottom--right {
		border-bottom: 1px solid $aqua;
		border-right: 1px solid $aqua;
		bottom: 1.25rem;
		right: 1.25rem;
	}
	.bottom--left {
		border-bottom: 1px solid $aqua;
		border-left: 1px solid $aqua;
		bottom: 1.25rem;
		left: 1.25rem;
	}
	.border {
		width: 58%;
		margin: 0 auto;
		border: 2px solid $purple;
	}
}

.trending {
	padding: 15% 0 8% 0;
	background-color: #f3f5f8;
	text-align: center;
	body.darkMode & {
		background-color: $backgroundBlack;
	}
	&__title {
		margin: 10px;
		font-family: $secondary-font;
		font-weight: 500;
	}
	&__paragraph {
		margin: 10px;
		color: #000;
		body.darkMode & {
			color: #fff;
		}
	}
	&__container {
		max-width: 100%;
		display: flex;
		align-items: center;
		.trending__slider {
			width: 100%;
			display: flex;
			overflow: scroll;
			@media screen and (min-width: $tablet) {
				overflow: hidden;
			}
		}
		.arrows {
			display: none;
			@media screen and (min-width: $tablet) {
				display: block;
				padding: 1rem;
				width: 10%;
			}
		}
	}
	.trending__slider--container {
		overflow: hidden;
	}
	@media screen and (min-width: $tablet) {
		padding: 12% 0 8% 0;
	}
	@media screen and (min-width: $desktop) {
		padding: 10% 0 8% 0;
	}
	@media screen and (min-width: $genericLaptop) {
		padding: 8% 0 8% 0;
	}
}

#search_main_container.searchActive {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-color: transparent;
}

#suggestions_container.searchActiveContainer {
	border-top-color: transparent;
	position: relative;
	top: -0.5rem;
}

.suggests_item {
	display: flex;
	padding: 0.5rem;
	margin: 0 4px;
	cursor: pointer;
}

.sugestion_list {
	color: $lightGray;
}

.suggests_searchbtnIcon {
	width: 1rem;
	margin: 0 2%;
}

.suggests_searchtext {
	margin: 0 10px;
	display: block;
}