@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,900;1,400&family=Roboto:ital,wght@0,400;0,700;0,900;1,500&display=swap');

$transition: 0.3s ease-in-out;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$iphone: 400px;
$tablet: 768px;
$desktop: 1024px;

$color1: #572ee5;
$color2: #50e3c2;
$color3: #f3f5f8;
$color4: #9cafc3;
$color5: #37383c;
$color6: #222326;
$color7: rgba(87, 46, 229, 0.6);

