$transition: 0.3s ease-in-out;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$iphone: 400px;
$tablet: 768px;
$desktop: 1024px;
//$desktop2: 1280px;
//$genericLaptop: 1530px;


$color1: #572ee5;//$purple
$color2: #50e3c2;//$aqua
$color3: #f3f5f8;//$white
$color4: #9cafc3;//$lightGray
$color5: #37383c;//$backgroundDark
$color6: #222326;//$backgroundBlack
$color7: rgba(87, 46, 229, 0.6);//$purpleTransparency


